############################################
# Backend
############################################
/api/ @tlugat @ElyasC @j2frise @cristianamonteiroo
/database/ @tlugat @ElyasC @j2frise @cristianamonteiroo


############################################
# Frontend
############################################
/ui-backoffice/ @Nstampfli @MaeWolff @tlugat @Pierre-AlexisM @QuentinHuber @maellemoisis
/mobileapp/ @Nstampfli @MaeWolff @tlugat @Pierre-AlexisM @QuentinHuber @maellemoisis
/ui-landingpage/ @Nstampfli @MaeWolff @tlugat @Pierre-AlexisM @QuentinHuber @maellemoisis
/webapp/ @Nstampfli @MaeWolff @tlugat @Pierre-AlexisM @QuentinHuber @maellemoisis