<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
    <tr>
        <td valign="middle" class="bg_black footer email-section">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
                <tr>
                    <td width="100%" style="text-align: center;">
                        <p style="margin-top: 0;">Vous ne souhaitez plus recevoir ces emails ? Vous pouvez vous <a href="#">Désabonnez ici</a></p>
                    </td>
                </tr>
                <tr>
                    <td width="100%" style="text-align: center;">
                        <ul class="social">
                            <li><img src="{{base_url}}/illustrations/004-twitter-logo.png" alt="" style="width: 24px; max-width: 600px; height: auto; display: block;"></li>
                            <li><img src="{{base_url}}/illustrations/005-facebook.png" alt="" style="width: 24px; max-width: 600px; height: auto; display: block;"></li>
                            <li><img src="{{base_url}}/illustrations/006-instagram-logo.png" alt="" style="width: 24px; max-width: 600px; height: auto; display: block;"></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  </table>

</div>
</center>
</body>
</html>